body, html {
    margin: 0;
    font-family: sans-serif;
}

thead {
    text-align: center;
    
}
table, td, th {
    border: 1px solid rgb(0, 0, 0);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    /* text-align: center; */
    padding: 5px;
}
