
body {
    background-color: rgb(146, 148, 148);
}

table {
    border-collapse: collapse; 
    table-layout:fixed; 
    width:290px;
    background-color: white;
    margin: 2px;
    
}

div{
    margin-top: 5px;
    float: left;
   
}

caption{
    /* background-color: yellow; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px;
    background-color: white;
}

td, th {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5rem;
    font-size: small;
    background-color: rgb(255, 255, 254);
}
td {
    text-align: left;
    word-break:keep-all;
}
th {
    background-color: #2652cc;
    color: white;
    text-align: center;
  }
thead {
    text-align: center;
}
img {
    
    height: 3em;
}


