{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div>
    <h1>North Carolina Ski Resorts</h1>
    <p>Last Updated: {{beechCond[0].updated_on}}</p>
</div>
<div>
    <table>
        <caption class='table_head_image'><a href="https://www.beechmountainresort.com/" target="_blank"><img src="static\images\beechIMG.jpg"></a></caption>
        <caption>Ski Beech</caption>
        
        <tbody>
           
            <tr>
                <th>Condition</th>
                <th>Status</th>
            </tr>
            {% for condition in beechCond%}
            <tr>
                <td>{{condition.name}}</td>
                <td>{{condition.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Slope Name</th>
                <th>Status</th>
            </tr>
            {% for slope in beechSlope%}
            <tr>
                <td>{{slope.name}}</td>
                <td>{{slope.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Lift Name</th>
                <th>Status</th>
            </tr>
            {% for lift in beechLift%}
            <tr>
                <td>{{lift.name}}</td>
                <td>{{lift.status}}</td>
            </tr>
            {%endfor%}
            <tr>
                <th colspan="2">Other</th>
            </tr>   
            <tr>
                <td>Web Camera</td>
                <td><a href="https://www.beechmountainresort.com/mountain/webcams/" target="_blank">Link</a></td>
            </tr>
            
        </tbody>    
    </table>
</div>
   
<div>
    <table>
        <caption class='table_head_image'><a href="https://cataloochee.com/" target="_blank"><img src="static\images\cataloocheeIMG.jpg"></a></caption>
        <caption>Cataloochee Ski Area</caption>
        <tbody>
            <tr>
                <th>Conditon</th>
                <th>Status</th>
            </tr>
            {% for cond in cataCond %}
            <tr>
                <td>{{cond.name}}</td>
                <td>{{cond.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Slope Name</th>
                <th>Status</th>
            </tr>
            {% for slope in cataSlope %}
            <tr>
                <td>{{slope.name}}</td>
                <td>{{slope.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Lift Name</th>
                <th>Status</th>
            </tr>
            {% for lift in cataLift%}
            <tr>
                <td>{{lift.name}}</td>
                <td>{{lift.status}}</td>
            </tr>  
            {%endfor%} 
            <tr>
                <th colspan="2">Other</th>
            </tr>   
            <tr>
                <td>Web Camera</td>
                <td><a href="https://cataloochee.com/the-mountain/webcams/" target="_blank">Link</a></td>
            </tr>
            
        </tbody>
    </table>
</div>
    
    
<div>
    <table>
        <caption class='table_head_image'><a href="https://appskimtn.com/" target="_blank"><img src="static\images\appIMG.jpg"></a></caption>
        <caption>Appalachian Ski Mountain</caption>
        <tbody>
            <tr>
                <th>Conditon</th>
                <th>Status</th>
            </tr>
            {% for cond in appCond %}
            <tr>
                <td>{{cond.name}}</td>
                <td>{{cond.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Slope Name</th>
                <th>Status</th>
            </tr>
            {% for slope in appSlope %}
            <tr>
                <td>{{slope.name}}</td>
                <td>{{slope.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Lift Name</th>
                <th>Status</th>
            </tr>
            {% for lift in appLift%}
            <tr>
                <td>{{lift.name}}</td>
                <td>{{lift.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th colspan="2">Other</th>
            </tr>  
            <tr>
                <td>Web Camera</td>
                <td><a href="https://appskimtn.com/live-cams" target="_blank">Link</a></td>
            </tr>
        </tbody>    
    </table>
</div>
    
<div>
    <table>
        <caption class='table_head_image'><a href="http://www.skisugar.com/" target="_blank"><img src="static\images\sugarIMG.jpg"></a></caption>
        <caption>Ski Sugar</caption>
        <tbody>
            <tr>
                <th>Conditon</th>
                <th>Status</th>
            </tr>
            {% for cond in sugarCond %}
            <tr>
                <td>{{cond.name}}</td>
                <td>{{cond.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Slope Name</th>
                <th>Status</th>
            </tr>
            {% for slope in sugarSlope %}
            <tr>
                <td>{{slope.name}}</td>
                <td>{{slope.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Lift Name</th>
                <th>Status</th>
            </tr>
            {% for lift in sugarLift%}
            <tr>
                <td>{{lift.name}}</td>
                <td>{{lift.status}}</td>
            </tr> 
            {%endfor%} 
            <tr>
                <th colspan="2">Other</th>
            </tr>  
            <tr>
                <td>Web Camera</td>
                <td><a href="http://www.skisugar.com/cams/" target="_blank">Link</a></td>
            </tr>  
            
        </tbody>
    </table>
</div>
   
<div>
    <table>
        <caption class='table_head_image'><a href="https://skiwolfridgenc.com/" target="_blank"><img src="static\images\wolfridgeIMG.png"></a></caption>
        <caption> Wolf Ridge Ski Reasort</caption>
        <tbody>
            <tr>
                <th>Conditon</th>
                <th>Status</th>
            </tr>
            {% for cond in wrCond %}
            <tr>
                <td>{{cond.name}}</td>
                <td>{{cond.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Slope Name</th>
                <th>Status</th>
            </tr>
            {% for slope in wrSlope %}
            <tr>
                <td>{{slope.name}}</td>
                <td>{{slope.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th>Lift Name</th>
                <th>Status</th>
            </tr>
            {% for lift in wrLift%}
            <tr>
                <td>{{lift.name}}</td>
                <td>{{lift.status}}</td>
            </tr>    
            {%endfor%}
            <tr>
                <th colspan="2">Other</th>
            </tr>  
            <tr>
                <td>Web Camera</td>
                <td><a href="https://skiwolfridgenc.com/the-mountain/web-cam" target="_blank">Link</a></td>
            </tr>
        </tbody>    
    </table>
</div>
{% endblock %}